<title>Add New Person</title>
<%= form_tag :action => 'create' %>
<%= render :partial => 'person' %>
<%= submit_tag "Create" %>
<div id="navigation">
	<%= link_to 'Back', {:action => 'index'}%>
</div>